In [1]:
## 위치기반 관광정보 조회 API 데이터

#1. OPEN API 데이터의 정보 3개를 확인하는 코드 작성

# requests 라이브러리 불러오기 + pprint 모듈 import
import requests
import pandas as pd
from pprint import pprint

serviceKey = "cUXcvgk5JU5s8EWoLWYB28L5mjyVbhLTD8FhyY7JxmBYxqNHgJMh3tDNnzOaMG5Umh2QVsEFm1T4jmTGz9rhPg=="
base_url = "http://apis.data.go.kr/B551011/KorService1/"
end_point = "locationBasedList1"
request_url = base_url + end_point

# 요청 변수 설정
numOfRows = 10  # 한페이지 결과 수
pageNo = 1  # 페이지번호
MobileOS = "AND"  # 호출OS
MobileApp = "kakaotalk"  # 호출 어플이름
mapX = 126.981611  # GPS X좌표 (서울경도)
mapY = 37.568477  # GPS Y좌표 (서울위도)
radius = 1000  # 거리반경
_type = "JSON"  # 응답 데이터의 형식

# 요청 변수 저장
params = {
    "serviceKey": serviceKey,
    "numOfRows": numOfRows,
    "pageNo": pageNo,
    "MobileOS": MobileOS,
    "MobileApp": MobileApp,
    "mapX": mapX,
    "mapY": mapY,
    "radius": radius,
    "_type": _type,
}

# API 요청
response = requests.get(request_url, params=params).json()
# pprint(response)
items = response["response"]["body"]["items"]["item"]

# 정보를 가지고, data변수 생성
# 필요 데이터 : title, addr1, mapx
data = [
    {
      "title": item["title"],
        "addr1": item["addr1"],
        "mapx": item["mapx"],
    }
     for item in items
]
# pprint(data)

df = pd.DataFrame(data)
pprint(df)

#tour_data.csv 저장
df.to_csv("./tour_data.csv")

       title                         addr1            mapx
0   하이커 그라운드  서울특별시 중구 청계천로 40 한국관광공사 서울센터  126.9816428989
1  위라이드 서울전차  서울특별시 중구 청계천로 40 한국관광공사 서울센터  126.9816373430
2        가쯔야               서울특별시 중구 다동길 46  126.9817290217
3        인천집               서울특별시 중구 다동길 36  126.9812818412
4    다동 황소막창             서울특별시 중구 을지로3길 49  126.9807763209
5        광통교                 서울특별시 종로구 서린동  126.9811151529
6        호면정       서울특별시 종로구 청계천로 35 (서린동)  126.9813928988
7        장안문             서울특별시 중구 을지로3길 29  126.9813651797
8       손가명가               서울특별시 중구 다동길 13  126.9802541484
9        용금옥             서울특별시 중구 다동길 24-2  126.9805263585

In [2]:
#2.Open API 데이터를 정렬하는 코드 작성

#"title"를 기준으로 오름차순으로 정렬
df.sort_values(by = "title", ascending=True)

       title                         addr1            mapx
2        가쯔야               서울특별시 중구 다동길 46  126.9817290217
5        광통교                 서울특별시 종로구 서린동  126.9811151529
4    다동 황소막창             서울특별시 중구 을지로3길 49  126.9807763209
8       손가명가               서울특별시 중구 다동길 13  126.9802541484
9        용금옥             서울특별시 중구 다동길 24-2  126.9805263585
1  위라이드 서울전차  서울특별시 중구 청계천로 40 한국관광공사 서울센터  126.9816373430
3        인천집               서울특별시 중구 다동길 36  126.9812818412
7        장안문             서울특별시 중구 을지로3길 29  126.9813651797
0   하이커 그라운드  서울특별시 중구 청계천로 40 한국관광공사 서울센터  126.9816428989
6        호면정       서울특별시 종로구 청계천로 35 (서린동)  126.9813928988

In [3]:
#"mapx"를 기준으로 내림차순으로 정렬
df.sort_values(by = "mapx", ascending=False)

       title                         addr1            mapx
2        가쯔야               서울특별시 중구 다동길 46  126.9817290217
0   하이커 그라운드  서울특별시 중구 청계천로 40 한국관광공사 서울센터  126.9816428989
1  위라이드 서울전차  서울특별시 중구 청계천로 40 한국관광공사 서울센터  126.9816373430
6        호면정       서울특별시 종로구 청계천로 35 (서린동)  126.9813928988
7        장안문             서울특별시 중구 을지로3길 29  126.9813651797
3        인천집               서울특별시 중구 다동길 36  126.9812818412
5        광통교                 서울특별시 종로구 서린동  126.9811151529
4    다동 황소막창             서울특별시 중구 을지로3길 49  126.9807763209
9        용금옥             서울특별시 중구 다동길 24-2  126.9805263585
8       손가명가               서울특별시 중구 다동길 13  126.9802541484

In [4]:
#title, addr1 기준 내림차순 / mapx 기준 오름차순 정렬
sorted_df = df.sort_values(by=["title","addr1","mapx"],ascending=[False, False, True])
sorted_df

       title                         addr1            mapx
6        호면정       서울특별시 종로구 청계천로 35 (서린동)  126.9813928988
0   하이커 그라운드  서울특별시 중구 청계천로 40 한국관광공사 서울센터  126.9816428989
7        장안문             서울특별시 중구 을지로3길 29  126.9813651797
3        인천집               서울특별시 중구 다동길 36  126.9812818412
1  위라이드 서울전차  서울특별시 중구 청계천로 40 한국관광공사 서울센터  126.9816373430
9        용금옥             서울특별시 중구 다동길 24-2  126.9805263585
8       손가명가               서울특별시 중구 다동길 13  126.9802541484
4    다동 황소막창             서울특별시 중구 을지로3길 49  126.9807763209
5        광통교                 서울특별시 종로구 서린동  126.9811151529
2        가쯔야               서울특별시 중구 다동길 46  126.9817290217

In [6]:
df[['title','addr1']]

       title                         addr1
0   하이커 그라운드  서울특별시 중구 청계천로 40 한국관광공사 서울센터
1  위라이드 서울전차  서울특별시 중구 청계천로 40 한국관광공사 서울센터
2        가쯔야               서울특별시 중구 다동길 46
3        인천집               서울특별시 중구 다동길 36
4    다동 황소막창             서울특별시 중구 을지로3길 49
5        광통교                 서울특별시 종로구 서린동
6        호면정       서울특별시 종로구 청계천로 35 (서린동)
7        장안문             서울특별시 중구 을지로3길 29
8       손가명가               서울특별시 중구 다동길 13
9        용금옥             서울특별시 중구 다동길 24-2

In [7]:
df.loc[0:3]

       title                         addr1            mapx
0   하이커 그라운드  서울특별시 중구 청계천로 40 한국관광공사 서울센터  126.9816428989
1  위라이드 서울전차  서울특별시 중구 청계천로 40 한국관광공사 서울센터  126.9816373430
2        가쯔야               서울특별시 중구 다동길 46  126.9817290217
3        인천집               서울특별시 중구 다동길 36  126.9812818412