#### 수치형 자료

In [145]:
import pandas as pd

In [146]:
movie_df = pd.read_csv("./movie_ratings.csv")
movie_df

     UserID  MovieID  Rating  Age  Occupation    Genre
0        45        8       4   55  Unemployed   Horror
1        48        5       3   15    Engineer   Action
2        65        4       2   55     Student  Romance
3        68        6       5   45      Doctor   Comedy
4        68        7       4   25    Engineer  Romance
..      ...      ...     ...  ...         ...      ...
495       4        4       4   50      Doctor   Action
496      13       14       4   55     Student   Horror
497      59        5       5   40     Student   Comedy
498       2       20       3   40      Artist   Action
499       1        7       2   20      Artist  Romance

[500 rows x 6 columns]

In [147]:
# 1. 리뷰 작성자 나이(Age)의 평균
movie_df['Age'].mean()

38.52

In [148]:
# 1. 리뷰 작성자 나이(Age)의 최소값
movie_df['Age'].min()

15

In [149]:
# 1. 리뷰 작성자 나이(Age)의 최대값을 출력한다.
movie_df['Age'].max()

60

In [150]:
# 2. 평점(Rating)의 기술 통계량 개수
movie_df["Rating"].count()

500

In [151]:
# 2. 평점(Rating)의 기술 통계량 평균
movie_df["Rating"].mean()

2.998

In [152]:
# 2. 평점(Rating)의 기술 통계량 표준편차
movie_df["Rating"].std()

1.4346122209325043

In [153]:
# 2. 평점(Rating)의 기술 통계량 최소값
movie_df["Rating"].min()

1

In [154]:
# 2. 평점(Rating)의 기술 통계량 최대값
movie_df["Rating"].max()

5

In [155]:
# 2. 평점(Rating)의 기술 통계량 사분위수을 출력한다.
movie_df["Rating"].quantile()

3.0

In [156]:
# 2. 평점(Rating)의 기술 통계량(개수, 평균, 표준편차, 최소값, 최대값, 사분위수)을 출력한다.
movie_df["Rating"].describe()

count    500.000000
mean       2.998000
std        1.434612
min        1.000000
25%        2.000000
50%        3.000000
75%        4.000000
max        5.000000
Name: Rating, dtype: float64

In [157]:
# 3. 리뷰가 가장 많은 영화 ID(MovieID)를 찾고,

most_review = movie_df["MovieID"].mode()[0]
most_review

6

In [158]:
# 해당 영화의 리뷰수를 출력한다.
review_count = (movie_df["MovieID"] == most_review).sum()
review_count

# review_count = movie_df["MovieID"] == most_review
# len(movie_df.loc[review_count])

#shape속성 : 행과 열의 수를 저장한 속성
#shape[0]:행의 수
#shape[1]:열의 수
movie_df.loc[review_count].shape[0]

6

In [159]:
mpg_df = pd.read_csv("./auto-mpg.csv")
mpg_df

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86,2790,15.6,82,1,ford mustang gl
394,44.0,4,97.0,52,2130,24.6,82,2,vw pickup
395,32.0,4,135.0,84,2295,11.6,82,1,dodge rampage
396,28.0,4,120.0,79,2625,18.6,82,1,ford ranger
397,31.0,4,119.0,82,2720,19.4,82,1,chevy s-10

In [160]:
# 1. 70 ~ 79년도(model year)의 자동차 연비(mpg) 평균을 출력한다.
for year in range(70, 80):
    year_mpg = mpg_df[mpg_df["model year"] == year]["mpg"]
    year_average = year_mpg.mean()
    print(year_average)

# for year in range(70, 80):
#     year_mpg = mpg_df["model year"] == year #조건식
#     year_mpg_df = mpg_df.loc[year_mpg] #각 년도의 차량을 선택
#     print(year, year_mpg_df["mpg"].mean()) #연비의 평균

17.689655172413794
21.25
18.714285714285715
17.1
22.703703703703702
20.266666666666666
21.573529411764707
23.375
24.061111111111114
25.09310344827585

In [165]:
# 2. 평균 마력(horsepower)보다 작은 자동차들의 연비(mpg) 평균을 출력한다.
hp_average = mpg_df["horsepower"].mean()
mpg_min_average = mpg_df[mpg_df["horsepower"] < hp_average]["mpg"].mean()
mpg_min_average

# mpg_min_average = mpg_df["horsepower"] < hp_average
# mpg_df.loc[mpg_min_average, "mpg"].mean()

27.542

In [162]:
# 3. 평균 마력(horsepower)보다 큰 자동차들의 연비(mpg)평균을 출력한다.
mpg_max_average = mpg_df[mpg_df["horsepower"] > hp_average]["mpg"].mean()
mpg_max_average

16.71148648648649

In [189]:
# 4. 무게(weight)가 가장 무거운 차와
max_weight = mpg_df["weight"].max() 
max_weight_mpg = mpg_df["weight"] == max_weight
mpg_df.loc[max_weight_mpg, "mpg"].iloc[0]

13.0

In [188]:
# 4. 가장 가벼운 차의 연비를 출력한다.
min_weight = mpg_df["weight"].min() 
min_weight_mpg = mpg_df["weight"] == min_weight
mpg_df.loc[min_weight_mpg, "mpg"].iloc[0]

35.0